<html>
    <head>
        <title>Accessible Facebook UI</title>
        <link rel="stylesheet" href="css/index.css" type="text/css"></link>
    </head>
    <body>
		<div id='fb-root'></div>
        <div id="canvasContainer">
            <div id="circle"></div>
        </div>
    </body>
    
	<!--Scripts-->
	<script type='text/javascript' src='js/jquery/jquery.js'></script>
	<script type='text/javascript' src='js/index.js'></script>
	<script type='text/javascript' src='js/login.js'></script>
    <script type='text/javascript' src='js/main.js'></script>

    <script type="text/javascript" src="js/index/raphael.js"></script>
    <script type="text/javascript" src="js/index/indexLayout.js"></script>
</html>