<!DOCTYPE html>
<html>
	<head>
	    <title>Index</title>
	    <!--Meta Tags-->
	    <!--CSS-->
	    <link rel='stylesheet' type='text/css' src='css/main.css'/>
	</head>
	<body>
		<!--Navigation-->
		<nav>
			<ul id='mainLinks'>
				<li><a href='messaging' id='messaging'>Messaging</a></li>
				<li><a href='status' id='status'>Status</a></li>
				<li><a href='newsfeed' id='newsfeed'>Newsfeed</a></li>
				<li><a href='profile' id='profile'>Profile</a></li>
				<li><a href='notifications' id='notifications'>Notifications</a></li>
				<li><a href='search' id='search'>Search</a></li>
			</ul>
		</nav>
	</body>

	<!--Scripts-->
	<script type='text/javascript' src='js/jquery/jquery.js'></script>
	<script type='text/javascript' src='js/login.js'></script>
    <script type='text/javascript' src='js/scripts.js'></script>
</html>