<!DOCTYPE html>
<html>
	<head>
	    <title> Index </title>
	    <!-- Meta Tags -->
	    <!-- CSS -->
	    <link rel='stylesheet' type='text/css' src='../public/css/main.css' />
	</head>
	<body> 
		<li id='main_links'>
			<ul> <a href='/messaging' id='to_messaging'> Messaging </a> </ul>
			<ul> <a href='/status' id='to_status'> Status </a> </ul>
			<ul> <a href='/newsfeed' id='to_newsfeed'> Newsfeed </a> </ul>
			<ul> <a href='/profile' id='to_profile'> Profile </a> </ul>
			<ul> <a href='/notifications' id='to_notifications'> Notifications </a> </ul>
			<ul> <a href='/search' id='to_search'> Search </a> </ul>
		</li>
	</body>
	<!-- Scripts -->
	<script type='text/javascript' src='../public/js/jquery/jquery.js'></script>
    <script type='text/javascript' src='../public/js/script.js'></script>
</html>