<!DOCTYPE html>
<html>
	<head>
	    <title>Login | Accessible Facebook UI</title>
	    <!--Meta Tags-->
	    <!--CSS-->
	    <link rel='stylesheet' type='text/css' href='css/main.css'/>
	</head>
	
	<body>
		<div id='fb-root'></div>
		<header>
			<h1>Login</h1>
		</header>
		<button id='loginButton' onclick='loginToFacebook()'>Login To Facebook</button>
	</body>

	<!--Scripts-->
	<script type='text/javascript' src='js/jquery/jquery.js'></script>
	<script type='text/javascript' src='js/login.js'></script>
	<script type='text/javascript' src='js/loginPage.js'></script>
</html>