<!DOCTYPE html>
<html>
	<head>
	    <title>Login | Accessible Facebook UI</title>
	    <!--Meta Tags-->
	    <!--CSS-->
	    <link rel='stylesheet' type='text/css' href='css/main.css'/>
	    <link rel='stylesheet' type='text/css' href='css/login.css'/>
	</head>
	
	<body>
		<div id='fb-root'></div>
		<header>
			<h1>Accessible Facebook UI</h1>
		</header>
		<div id='line'></div>
		<div id='tag'>Hover over the button with your cursor</div>
		<br>
		<button id='loginButton'>Login</button> 	
	</body>

	<!--Scripts-->
	<script type='text/javascript' src='js/jquery/jquery.js'></script>
	<script type='text/javascript' src="js/colorui.js"></script>
	<script type="text/javascript" src="js/dwell_gist.js"></script> 
	<!-- // <script type="text/javascript" src="js/main.js"></script>  -->
	<script type='text/javascript' src='js/login.js'></script>
	<script type='text/javascript' src='js/loginPage.js'></script>

</html>