<!DOCTYPE html>
<html>
	<head>
	    <title>Messaging | Accessible Facebook UI</title>
	    <!--Meta Tags-->
	    <!--CSS-->

	    <link rel='stylesheet' type='text/css' href='css/main.css'/>
	    <!-- <link rel='stylesheet' type='text/css' href='css/messaging.css'> -->
	</head>
	
	<body>
		<div id='fb-root'></div>
		<header>
			<h1>Messaging</h1>
		</header>
	</body>
	
	<!--Scripts-->
	<script type='text/javascript' src='js/jquery/jquery.js'></script>
	<script type='text/javascript' src='js/messaging.js'></script>
	<script type='text/javascript' src='js/login.js'></script>
    <script type='text/javascript' src='js/main.js'></script>
</html>