<!DOCTYPE html>
<html>
	<head>
	    <title>Newsfeed | Accessible Facebook UI</title>
	    <!--Meta Tags-->
	    <!--CSS-->
	    <link rel='stylesheet' type='text/css' src='css/main.css'/>
	</head>
	
	<body>
		<div id='fb-root'></div>
		<header>
			<h1>Newsfeed</h1>
		</header>
	</body>
	
	<!--Scripts-->
	<script type='text/javascript' src='js/jquery/jquery.js'></script>
	<script type='text/javascript' src='js/newsfeed.js'></script>
	<script type='text/javascript' src='js/login.js'></script>
    <script type='text/javascript' src='js/main.js'></script>
</html>