<!-- NOTE: NOT TO BE LINKED TO, this will be used to augment existing .html files -->

<html>
    <head>
        <title>Page Framework | Accessible Facebook UI</title>

        <!--CSS-->
        <link rel="stylesheet" href="css/main.css" type="text/css"/>
        <link rel="stylesheet" href="css/page_framework.css" type="text/css"/>
    </head>

    <body>
        <div id='left_bar'> 
            <ul class='bar_content'>
                <li>
                    <div class='side_button'>
                        <img src="images/page_framework/LeftButton.svg">
                        <p>Back</p>
                    </div>
                </li>
            </ul>
        </div>

        <div id='container'>
            <div id='top_bar'>
                <img src="images/page_framework/WhiteTopButton.svg">
            </div>

            <div id='bottom_bar'>
                <img src="images/page_framework/WhiteBottomButton.svg">
            </div>

            <div id='frame'>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a nunc vitae tellus congue sollicitudin in id orci. Mauris fringilla purus iaculis risus eleifend, nec aliquet enim lobortis. Sed euismod, erat et pretium posuere, turpis elit mattis tortor, ut condimentum dui dui non dolor. Praesent rutrum justo et ante condimentum, sed lobortis mi feugiat. Nulla in tincidunt enim, eget elementum nisi. Proin faucibus vehicula ipsum, non vulputate tortor dapibus sit amet. Vestibulum varius purus et turpis molestie, ac bibendum ligula iaculis. Donec purus risus, feugiat in nulla sed, posuere egestas lectus. In consectetur lorem non tristique imperdiet. Duis aliquam aliquet facilisis.

                Sed varius massa vitae cursus faucibus. Cras nec urna eu mi gravida convallis eget quis orci. Sed mi neque, mollis sit amet erat at, aliquet volutpat ipsum. Sed ut augue nisl. Integer dignissim vel dolor sed mattis. Vivamus vulputate ornare gravida. Quisque dapibus leo metus, quis egestas ligula fermentum in. Sed commodo dictum eros et blandit.

                Pellentesque luctus dictum augue ut pulvinar. Fusce ut dui eget lectus gravida scelerisque. Sed varius suscipit nulla pharetra porttitor. Etiam vestibulum massa ut est congue rutrum. Nullam facilisis metus nec justo semper rhoncus. Maecenas sed bibendum urna. Nullam ac lorem consectetur, scelerisque nibh in, dapibus sem. Proin blandit eros scelerisque, ultrices tortor iaculis, placerat purus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus a mauris molestie, ultrices dolor eget, fringilla leo. Aliquam eleifend consequat nulla a egestas. Nam malesuada, justo eu convallis condimentum, sem felis mollis mauris, eget placerat enim leo et enim. Mauris luctus quam at est lobortis, at consequat orci imperdiet.

                Vestibulum id lectus vitae velit varius sagittis. Praesent facilisis pellentesque lectus in mattis. Suspendisse tellus lorem, ultricies eget ante facilisis, malesuada vulputate ante. Mauris vel nisl hendrerit, condimentum felis ac, luctus tellus. Aenean eu felis mi. Mauris imperdiet mauris ac ullamcorper fermentum. Morbi sit amet rhoncus sem. Vestibulum urna augue, viverra et urna ac, euismod placerat sapien.

                Aenean pulvinar molestie mi, vel tempus tortor luctus sit amet. Nullam eget lectus facilisis, tempor lacus suscipit, aliquet mauris. Duis at nulla gravida, faucibus ipsum iaculis, consequat arcu. Sed malesuada consectetur massa eu placerat. In tempus facilisis ipsum. Fusce eget accumsan dui, vitae elementum mauris. Donec sed mollis felis. Duis id ultrices est.

                Vivamus varius imperdiet porta. Nulla vitae elementum urna. Suspendisse hendrerit mi eu pretium interdum. Sed erat ipsum, ornare a ligula nec, semper vulputate eros. Vestibulum adipiscing aliquet nulla, quis adipiscing turpis tincidunt ut. Curabitur accumsan posuere lectus, et venenatis enim dignissim non. Maecenas tristique tortor sit amet porttitor mollis. Cras tristique, magna ut dapibus commodo, libero est condimentum mi, sed accumsan elit justo sit amet velit. Nunc consequat vel neque eu euismod. Quisque suscipit commodo metus a volutpat. Praesent dui leo, ultrices at enim nec, imperdiet semper odio. Vestibulum dictum tempus lacus at pellentesque. Aenean mattis suscipit arcu. Nunc turpis turpis, fringilla eget lorem a, vehicula aliquam elit. Quisque non quam ut risus vestibulum sodales ut eu quam.

                Integer felis felis, mattis sed scelerisque vitae, tincidunt eu arcu. Aenean odio ipsum, eleifend sed dictum in, ultrices vel nisl. Praesent rhoncus condimentum tellus. Mauris et odio pharetra risus pellentesque laoreet. Nullam sollicitudin quam ac mi scelerisque blandit. Cras non nisi eleifend, fermentum metus euismod, aliquam nunc. Sed vel sagittis arcu, ac venenatis orci. Aliquam at nibh nec est tristique accumsan. Sed eleifend lorem sit amet interdum hendrerit. Ut scelerisque accumsan mauris quis egestas. Mauris at lectus non enim pharetra ullamcorper a eu nisi. Proin cursus euismod dolor, a pretium ante.

                Aenean ut pretium dui. Integer quis mi sapien. Donec auctor mauris sed ullamcorper auctor. Aenean non blandit mauris. Nunc varius mauris mattis, accumsan velit vitae, auctor odio. Maecenas nibh mauris, posuere vitae tempor vel, commodo vel eros. Ut rhoncus ut est ut scelerisque. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

                Nunc commodo velit et ligula sodales, sed gravida purus lacinia. In euismod diam tortor, at malesuada nibh congue vel. Pellentesque fringilla metus vitae tellus fermentum condimentum. Aliquam erat volutpat. Duis commodo, tortor congue facilisis tempus, lorem turpis aliquet enim, id auctor erat risus at purus. Maecenas bibendum porttitor mauris eu facilisis. Praesent egestas accumsan diam sed vehicula. Fusce non molestie ante. Donec eu nisi vitae leo congue bibendum. Nullam scelerisque id justo nec viverra. Nam vitae auctor mauris. Vivamus ornare feugiat est. Fusce justo felis, cursus non nisl a, rhoncus laoreet justo.

                Duis luctus magna enim, nec consequat mi aliquet in. Quisque viverra pharetra enim ac egestas. Aenean ullamcorper fringilla sapien vitae ornare. Aliquam sit amet odio non diam dapibus lacinia cursus egestas elit. Vestibulum id libero auctor, adipiscing libero sollicitudin, egestas tellus. Praesent pretium tellus eu lacus molestie fermentum. Mauris nulla eros, fermentum quis felis in, venenatis sollicitudin neque. Proin ultricies ultricies sodales.
            </div>
        </div>

        <div id='right_bar'>
            <ul class='bar_content'>
                <li>
                    <div class='side_button'>
                        <img src="images/page_framework/RightButton.svg">
                        <p>View</p>
                    </div>                    
                </li>
                <li>
                    <div class='side_button'>
                        <img src="images/page_framework/RightButton.svg">
                        <p>View</p>
                    </div>                    
                </li>
            </ul>
        </div>

    </body>
</html>