<!-- NOTE: NOT TO BE LINKED TO, this will be used to augment existing .html files -->
<!DOCTYPE html>
<html>
    <head>
        <title>Photos | Accessible Facebook UI</title>
        <!--Meta Tags-->
        <meta name="page" content="{{page}}">
        <meta name="page_id" content="{{id}}">
        <meta name="user_id" content="{{user_id}}">
        <meta name="one_pic" content="false">

        <!--CSS-->
        <link rel="stylesheet" href="/css/main.css" type="text/css"/>
        <link rel="stylesheet" href="/css/page_framework.css" type="text/css"/>
        <!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css"> -->
        <link rel='stylesheet' type='text/css' href='/css/keyboard.css'>
        <link rel='stylesheet' type='text/css' href='/css/photos.css'>
        
        

    </head>

    <body>
        <div id='left_bar'> 
            <ul class='bar_content'>
                <li>
                    <div class='side_button'>
                        <img src="/images/page_framework/LeftButton.svg">
                        <p>Home</p>
                    </div>
                </li>
                <li>
                    <div class='side_button'>
                        <img src="/images/page_framework/LeftButton.svg">
                        <p>Back</p>
                    </div>
                </li>
                <li style='display:none'>
                    <div class='side_button'>
                        <img src="/images/page_framework/LeftButton.svg">
                        <p>Pause Main Content</p>
                    </div>
                </li>
            </ul>
        </div>

        <div id='container'>
            <div id='top_bar'>
                <img src="/images/page_framework/WhiteTopButton.svg">
            </div>

            <div id='frame'>
                <div id="main_container">
                    <div id="user_info"></div>
                    <a id="holderdiv"></a>
                    <div id='container_inner'>
                        <div class="folders" id="folders"></div>
                        <hr>
                        <div id="pic_container">
                            <div class="inner_folder" id="mainPhoto"></div>
                        </div>
                    </div>
                </div>
                <!-- <div id="dialog" title="Comment form" style="display:none"> -->
                    <!-- <form id="comment_form">
                        <TEXTAREA id="form_input" placeholder="Comment on this photo!" type="text" style="font-size:25px">
                        </TEXTAREA>
                        <input id="form_button" type="submit"></input>
                    </form> -->
                <!-- </div> -->
                <form id='comment_form' style="display:none">
                    <textarea id='form_input' type='text' name='status' autocomplete='off' placeholder="Leave a comment!"></textarea>
                    <input id='form_button' type='submit'>
                </form>
            </div>
            <div id='bottom_bar'>
                <img src="/images/page_framework/WhiteBottomButton.svg">
            </div>
        </div>
        <div id='right_bar'>
            <ul class='bar_content'>
                <li>
                    <div class='side_button'>
                        <img src="/images/page_framework/RightButton.svg">
                        <p>Next</p>
                    </div>                    
                </li>
                <li>
                    <div class='side_button'>
                        <img src="/images/CommentIcon.png">
                        <p>Comment</p>
                    </div>                    
                </li>
                <li>
                    <div class='side_button'>
                        <img src="/images/LikeButton.svg">
                        <p>Like</p>
                    </div>                    
                </li>
            </ul>
        </div>
        

    </body>
     <!--Scripts-->
    <script type='text/javascript' src='/js/jquery/jquery.js'></script>

    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <!-- include this file, it's got the code that does dwell click  -->
    <script type="text/javascript" src="/js/dwell_gist.js"></script> 
    <!-- // <script type='text/javascript' src='/js/keyboard.js'></script> -->

    <script type='text/javascript' src='/js/photos.js'></script>

    <script type='text/javascript' src='/js/login.js'></script>
    <script type='text/javascript' src='/js/main.js'></script>
</html>