<!DOCTYPE html>
<html>
	<head>
	    <title>Status | Accessible Facebook UI</title>
	    <!--Meta Tags-->
	    <!--CSS-->
	    <link rel='stylesheet' type='text/css' href='css/main.css'/>
	</head>
	
	<body>
		<div id='fb-root'></div>
		<header>
			<h1>Status</h1>
		</header>

		<form id='statusForm'>
			<input id='statusInput' type='text' name='status' autocomplete='off'>
			<input id='statusSubmit' type='submit'>
		</form>
	</body>
	
	<!--Scripts-->
	<script type='text/javascript' src='js/jquery/jquery.js'></script>
	<script type='text/javascript' src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	<script type="text/javascript" src="js/dwell_gist.js"></script> 
	<script type='text/javascript' src='js/status.js'></script>
	<script type='text/javascript' src='js/login.js'></script>
    <script type='text/javascript' src='js/main.js'></script>
</html>