body{
	margin-top: 3%;
}
h1{
	color:#4860a5;
	text-align: center;
	font-size: 55px;
	margin-top: 1em;
}
#line{
	width: 50%;
	margin: auto;
	margin-top: 2%;
	border-top: 1px #cccccc solid;
}
#tag{
	color: #cccccc;
	width: 100%;
	text-align: center;
	margin-top: 75px;
	margin-bottom: 25px;
	font-size: 30px;
}
#loginButton{
	display: block;
	border: 2px solid #cccccc;
	color: #777777;
	font-size: 30px;
	background: #eeeeee;
	width: 300px;
	height: 125px;
	text-align: center;
	margin: auto;
}