header{
	display: none;
	/*float: left;*/
}
body{
	color: black;
}
body, html{
	width: 100%;
	height: 100%;
}
/*#from{
	height: 100%;
}*/
#newsfeed{
	max-height: 72%;
}
#feedItem {
	background-color: #e5e5e5;
	padding: 10px 20px;
	margin: 0 auto;
	overflow: auto;
}

#loading {
	vertical-align: middle;
	display: block;
	position: relative;
	margin: auto;
	height: 30px;
	width: 30px;
	margin: auto;
	top: 30px;
}

#image img {
 max-height: 300px;
 width:auto;
 margin: 5px 0px;

}
#from div {
 width: auto;
 display: inline-block:
 margin: 0;
}
/*#from div{
	width: 70%;
	margin: 20px;
}*/
#from_photo img{
	height: 80px;
	float: left;
	margin: 8px 0px;
	float: left;
/*	position:absolute;
	clip:rect(0px,60px,200px,0px);
	margin-right: 60px;*/
}
#from_name{
	color: #4860a5;
	font-weight: bold;
	float: left;
	margin-top: 45px;
	margin-left: 20px;
}

#refresh {
	display: none;
}

#message{
	clear: both;
	padding: 5px 0px;
	background-color: #e5e5e5;
}
/*#image img{
	height: 400px;
	margin: 10px;
	border: 2px red solid;
}*/

#story{
	clear: both;
	color: gray;
	font-size: 14px;
	padding: 5px 0px;
}

#description{
	padding: 5px 0px;
	background-color: #e5e5e5;
}

#likes {
	margin: 5px 0px;
	color: #4860a5;
}
