/*@tb_width: 100%-(@side_width*2);*/
/*@fb_blue: blue;*/
body {
  margin: 0;
  padding: 0;
  z-index: 0;
  font-family: Helvetica;
  color: #4860a5;
}
#right_bar {
  width: 11%;
  height: 100%;
  float: right;
  background-color: #f2f2f2;
  position: fixed;
  right: -2px;
  /*border-right: 2px solid gray;*/
  display: table;
  text-align: center;
  border-left: 2px solid #777777;
}
#right_bar div table {
  margin-left: auto;
  margin-right: auto;
}
#left_bar {
  width: 11%;
  height: 100%;
  line-height: 100%;
  position: fixed;
  background-color: #f2f2f2;
  display: table;
  text-align: center;
  border-right: 2px solid #777777;
}
.side_button {
  list-style-type: none;
  /*border: 1px solid black;*/
  /*margin:auto;*/
}
.side_button li {
  text-align: center;
  /*margin-left: -50;*/
  margin-top: 10px;
}
.side_button li img {
  height: 50px;
  width: 50px;
}
.bar_content {
  vertical-align: middle;
  display: table-cell;
}
.bar_content ul {
  list-style: none;
  /*border: 2px solid red;*/
}
.bar_content ul li {
  /*display: inline;*/
  text-align: center;
  margin-right: 40px;
  /*margin-top: 20px;*/
}
#bottom_bar {
  bottom: 0;
}
#top_bar {
  top: 0;
}
.tb_bar {
  text-align: center;
  height: 10%;
  width: 100%;
  position: fixed;
  background-color: #4860a5;
  opacity: .4;
  z-index: -1;
  /*line-height: @tb_height;*/
  /*display: table;*/
}
.tb_bar img {
  /*display: table-cell;*/
  vertical-align: middle;
  /*line-height: @tb_height;*/
  height: 50px;
  width: 50px;
}
.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
#frame {
  margin: 10% 11% 10% 11%;
  position: absolute;
  width: 78%;
  height: 100%;
  z-index: -2;
}
