html, body{
	padding:0;
	margin:0;
}

body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
}

#logotype {
	margin: 0.5em auto;
	margin-top: 1em;
	font-size: 3em;
}

img {
	margin: 1em auto;
}

#statusUpdate {
	margin: 1em auto;
	width: 100px;
	border-radius: 12px;
}

#test{
	z-index: 1000000;
	margin-left: 300px;
	bottom:0;
}

.folders{
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	position: relative;
}

.innerfolder{
	width: 10em;
	height: 5em;
	display: inline-block;
	text-align: center;
	border-width:2px;
	border-color: LightGray;
	background-color:#EEEFF4;
	border-style: solid;
	font-size: 20px;
	vertical-align: middle;
	margin-left:0.70em;
	margin-bottom:0.70em;
	color:#3b5998;

}

.innerfolder *{
	display: block;
	position: relative;	
}

#user_info{
	display: inline-block;
	width: 100%;
}

.main_image{
	max-width: 90%;
	height: auto;
	width: auto;
	margin: 2em;
}

.inner_folder{
	display: inline;
}

.photos{
	height:15em;
	width: 15em;
	padding: 2px;
	margin: 0;
	margin-left:1em;
	margin-bottom:1em;
	overflow: hidden;
}

.photos img{
	height:100%;
	padding: 0;
	margin: 0;
}

.comment_div{
	background-color: #EEEFF4;
	padding:5px;
	/*margin-bottom: 2px;*/
	margin:0.25em;
	max-width: 90%;
	position: relative;
}

.name{
	font-weight: bold;
	color:#3b5998;
}

.comment{
	color:#333;
}

/* CSS for dialog comment box */
.ui-dialog{
	background-color:white;
	border-width: 2px;
	border-color:LightGray;
	border-style: solid;
	margin:1em;
	min-height: 10em;
	min-width: 10em;
	max-width: 100%;
	height:30em;
	width: 40em;
	border-radius: 10px;
	z-index: 1000000;
}

.ui-dialog *{
	z-index: 10000000;
}

.no-close, .ui-dialog-titlebar-close {
  height: 2em;
  width: 2em;
  background-color: #EB0509;

  /*background-color: red;*/
  float:right;
  outline:none;
  color:white;
  font-size: 1em;
  text-decoration: none;
  border-width: 0.25em;
  border-radius: 10px;
  border-color:white;

  position: relative;
  top:-0.5em;
}

.ui-dialog-titlebar{
	text-shadow:
    -1px -1px 0 gray,
    1px -1px 0 gray,
    -1px 1px 0 gray,
    1px 1px 0 gray; 
	color:white;
	background-color: #87B0D4;

	/*background-color: orange;*/

	height:1em;
	font-size: 2.5em;
	padding:1em;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.form_input{
	margin:1em;
	height:25em;
	max-height: 25em;
	width:42em;
	max-width: 42em;
	overflow-y: scroll;
	overflow-x: none;
}

.form_button{
	height:2em;
	width: 5em;
	color:#333333;
	font-size: 2em;
	position: relative;
	right:-12em;
}

.ui-widget-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Overlays */
.ui-widget-overlay {
	background: #aaaaaa url(http://code.jquery.com/ui/images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;
	opacity: .3;
	filter: Alpha(Opacity=90);
}