html, body{
	padding:0;
	margin:0;
}

body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
}

/*#main_container{
	position: absolute;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}*/

.back_button{
	/*height: 100%;*/
	width: 5em;
	background-color: yellow;
	position: fixed;
	left:0;
	top:0;
	bottom: 5em;
	border-color: pink;
	border-width: 2px;
	border-style: dotted;
}

#logotype {
	margin: 0.5em auto;
	margin-top: 1em;
	font-size: 3em;
}

#loggerButton {
	margin: 0em auto;
	display: block;
}

img {
	margin: 1em auto;
}

#statusUpdate {
	margin: 1em auto;
	width: 100px;
	border-radius: 12px;
}

.innerfolder{
	width: 10em;
	height: 8em;
	display: inline-block;
	text-align: center;
}

.innerfolder *{
	display: block;
	position: relative;
	/*text-align: center;*/
	
}

.innerfolder img{
	height: 3em;
	width: 3em;
}