html, body{
	padding:0;
	margin:0;
}

body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
}

#logotype {
	margin: 0.5em auto;
	margin-top: 1em;
	font-size: 3em;
}

img {
	margin: 1em auto;
}

#statusUpdate {
	margin: 1em auto;
	width: 100px;
	border-radius: 12px;
}

#test{
	z-index: 1000000;
	margin-left: 300px;
	bottom:0;
}

.folders{
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	position: relative;
}

.innerfolder{
	width: 10em;
	height: 2em;
	display: inline-block;
	text-align: center;
	border-width:2px;
	border-color: gray;
	background-color:LightGray;
	border-style: solid;
	font-size: 20px;
	padding-top: 2em;
	padding-bottom: 2em;
	vertical-align: middle;
	margin-left:0.75em;
	margin-bottom:0.75em;

}

.innerfolder *{
	display: block;
	position: relative;	
}

.cover{
	position: relative;
	bottom:0;
	float: right;
	margin-right: auto;
	margin-left: auto;
	width: auto;
	z-index: -5;
}

#user_info{
	display: inline-block;
}

.username{

}

.user_photo{
	position: relative;
	top:0;
}

.user_photo img{
	height: 10em;
	width: auto;
}

/*.inner_folder{
	display: inline-block;
}

.inner_folder *{
	height:15em;
	width: 15em;
	padding: 0;
	margin: 0;
}
*/
.photos{
	height:15em;
	width: 15em;
	padding: 0;
	margin: 0;
	margin-left:1em;
	margin-bottom:1em;
	overflow: hidden;
}

.photos *{
	/*height:100%;*/
	/*width: auto;*/
	height:15em;
	width: 15em;
	padding: 0;
	margin: 0;
	
}