#user_info{

}

#main_content{

}

#user_name{
	
}

.cover img{
	position: absolute;
	/*top:-15em;*/
	width: 100%;
	/*top:-45px;*/
	clip:rect(0px, 100000px, 260px, 0px);

	/*clip:rect(0em, 1000em, 30em, 0em);*/
}


.cover {
	top:-2em;
	position: absolute;
	width: 100%;
	height: 20%;
	max-height: 20%;
	overflow: none;
	/*clip:rect(0px, 0px, 10px,0px);*/

}

#frame{
	border-width: 2px;
	border-color: green;
	border-style: dotted;
	padding: 0;
	margin: 0;
}

.user_photo{
	z-index: 10;
	position: absolute;
	top: 0;
	margin: 7px;
	border-color:white;
	border-style: solid;
	border-width: 5px;
}

.username{
	padding:2px;
	z-index: 20;
	position: absolute;
	top: 185px;
	left: 225px;
	/*right:275px;*/
	background-color: white;
	font-weight: bolder;
	font-size: 30px;

}
/*#frame *{

}*/